@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

:root {
  --dark-gradient: rgba(7, 26, 42, 0.7);
  --deepdark-gradient: rgba(6, 21, 34, 0.5);

  --full-absolute-bg: radial-gradient(
    closest-side,
    rgba(10, 34, 73, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );

  --main-title-color: linear-gradient(
    90deg,
    rgba(51, 199, 255, 1) 0%,
    rgba(31, 140, 255, 1) 50%,
    rgba(122, 223, 255, 1) 100%
  );
  --text-color: linear-gradient(
    185.57deg,
    rgba(0, 140, 255, 1) 0%,
    rgba(0, 200, 255, 1) 100%
  );
  --button-bg: linear-gradient(
    90deg,
    rgba(7, 17, 31, 0.6) 0%,
    rgba(12, 24, 40, 0.6) 50%,
    rgba(5, 10, 18, 0.6) 100%
  );
  --border: #0d4f73;
}

img {
  object-fit: cover;
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    color: white;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Pretendard", sans-serif;
    background: url("/img/bg-1.png") no-repeat center center;
    background-size: cover;
  }
}
